html {
  height: 100%;
}
body {
  background: url("/img/whitey.png");
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  padding: 60px 15px 15px 15px;
}
a {
  color: #00b7ff;
}
.header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  border-bottom: 1px solid #999;
  box-shadow: 0px 0px 3px #777;
  top: 0;
  overflow: visible;
  color: #777;
}
.header .header-inner {
  border-width: 0 0 1px;
  background-color: #fafafa;
  background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  border: 1px solid #d4d4d4;
}
.header .header-inner .logo {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 #fff;
}
.header .header-inner::before,
.header .header-inner::after {
  display: table;
  line-height: 0;
  content: "";
}
.header .header-inner::after {
  clear: both;
}
.main {
  box-sizing: border-box;
  height: 100%;
}
.main div {
  background-color: #000;
  box-sizing: border-box;
  height: 100%;
}
.main .left div,
.main .right div {
  background-color: #fff;
  box-sizing: border-box;
  height: 20%;
  margin-top: 5%;
}
